<% provide(:title,"Home")%>
<% if logged_in?%>
  <div class="row">
    <div class="col-3">
      <section>
        <%= render "shared/user_info"%>
      </section>
      <section>
        <%= render "shared/micropost_form"%>
      </section>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-title">
          <h1>microposts</h1>
        </div>
        <div class="card-body">
          <%= render "shared/feed"%>
        </div>
      </div>
    </div>
  </div>

<% else %>

<div class="jumbotron">
  <h1 class="display-4">Awesome Blog</h1>
  <p class="lead">Welcome to AwesomeBlog</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<% end %>